body {
  background: #00bbf0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.img-responsive {
  width: 100%;
  display: block;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-column {
  grid-template-columns: 1fr 1fr;
}

.grid-3-column {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-header.grid {
  grid gap: 0;
}


.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #00bbf0;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #00bbf0;
  transition: 0.5s ease-in-out;
  margin-top: auto;
}

.btn:hover {
  background: transparent;
  color: #0000;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f8f8f8;
}

header {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/062/083/original/Marseille.jpeg?1673297708);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  color: #272044;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  color: #272044;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  margin: 0;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.img {
  width: 185px;
  height: 185px;
}

.card-header img {
  width: 185px ;
  height: 185px;
}

.embed {
width: 100%;
aspect-ratio: 1/1;
}



footer {
  color: white;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/062/096/original/marseillenight.jpeg?1673298200);
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
}

header h1 {
  font-size: 48px;
}

header h2 {
  font-size: 20px;
}

header h3 {
  font-size: 12px;
}

.grid {
  grid-template-columns: 1fr;
  grid-gap: 32px;
}

section {
  padding: 30px;
}

.card-header img {
  display: none;
}

.embed {
  aspect-ratio: 16/9;
}